<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  
  <div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node on Heroku</h1>
    <p>THomas!!!</p>
	
	
      </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
     

	 <button type="button" onclick="getWeather()">Request Data</button>
	 
	 <p id="demo"></p>
	
	 
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
     
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      
    </div>
  </div> <!-- row -->
   
</div>

<script>
function getWeather() {
let str = window.location.pathname;
let base_url = str.slice(0, str.lastIndexOf("/"));
let url = '//' + window.location.host + base_url + "/theWeather";
console.log(url);
let xhttp = new XMLHttpRequest();
xhttp.open("GET", url, true);
xhttp.onreadystatechange = function() {
console.log("ready state change");
if(xhttp.readyState === 4 && xhttp.status === 200) {
console.log("done changing");
console.log(JSON.parse(xhttp.responseText));
}
};
xhttp.send();
}
</script>

</body>
</html>