<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  
  <div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node on Heroku</h1>
    <p>THomas!!!</p>
	
	
      </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
     
	 <button type="button" onclick="loadDoc()">Request Data</button>
	 <p id="demo"></p>
	 <script>
		   function loadDoc() { 
		   
		   var data = null;

			var xhr = new XMLHttpRequest();
			xhr.withCredentials = true;

			xhr.addEventListener("readystatechange", function () {
			  if (this.readyState === 4) {
				document.getElementById("demo").innerHTML = this.responseText;
			  }
			});

			xhr.open("GET", "https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=NORMAL_MLY&datatypeid=MLY-TAVG-NORMAL&startdate=2010-07-01&enddate=2010-08-01&stationid=GHCND:USC00047821");
			xhr.setRequestHeader("Access-Control-Allow-Origin", "https://www.ncdc.noaa.gov");
			xhr.setRequestHeader("token", "zycPIftdPBYeXUhNBlkqmlbOjeCqvoWy");
			xhr.setRequestHeader("cache-control", "no-cache");
			

			xhr.send(data);
	 }
	 </script>
	 
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
     
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      
    </div>
  </div> <!-- row -->
   
</div>


</body>
</html>
